#video-library > * {
	width: 50%;
	display: inline-block;
}
#video-player {
	width: 65%;
	vertical-align:  text-top;
}
#video-player > * {
	margin-left: 10%;	
}
#video-playlist {
	width: 35%;
}
#video-playlist-note ,#video-player-note ,#video-player-title{
	font-weight: bolder;
    width: 80%;	
}
#video-player-note {
	text-align: center;
}
#video-playlist-title {
	text-decoration: underline;
    font-weight: 900;	
}