
.endpoint-buttton{
    display: block;
    width: 300px;
    height: 40px;
    background-color: skyblue;
    margin: auto;
    margin-top: 7px;	
}
.endpoints-container {
	height: 100%;
	margin: 0px;
}