.video-details {
	width: 40%;
	padding: 0px;
    font-size: 14px;	
}
.video-title {
	font-size: 15px;
    font-weight: bold;	
}
.video-details > p {
	margin: 0px;
}
.playlist-item {
	cursor: pointer;
}
.video-duration {
	width: 110px;
	display: inline-block;
}
.video-thumbnail{
	padding-left: 0px !important;
}