#video-library > * {
	width: 50%;
	display: inline-block;
}
#wait-message {
	margin-top: 3%;
}
#player ,#video-playlist {
	margin-top: 5%;
}
#video-playlist {
	margin-top: 5%;
	height: calc(100% - 1013px);	
}
#video-player {
	margin-top: 1%;
	width: 65%;
	vertical-align:  text-top;
}
#video-player > * {
	margin-left: 10%;	
}
#video-player-title {
	font-size: 25px;
}
#video-player-note {
	font-weight: bolder;
    width: 80%;	
}
#video-player-note {
	text-align: center;
}
#video-playlist-title {
	text-decoration: underline;
    font-weight: 900;	
}
#video-lib-video-list {
	padding-left: 0px;
}
.selectedVideo {
	border : 2px solid lightblue;
	border-radius: 10px;
}
.video-playlist-item {
	margin-bottom: 10px;
}
.video-player-container {
	position: fixed !important;
    width: 55% !important;	
}