#wait-message {
	margin-top: 50px;
	height: 10%;
}

#player, #video-playlist {
	margin-top: 5px;
}

#video-playlist {
	margin-top: 5px;
}

#video-player-title {
	font-size: 25px;
	height: 10%;
}

#video-player-note {
	font-weight: bolder;
	width: 80%;
}

#video-player-note {
	text-align: center;
}

#video-playlist-title {
	text-decoration: underline;
	font-weight: 900;
}

#video-lib-video-list {
	padding-left: 0px;
}

.selectedVideo {
	border: 2px solid lightblue;
	border-radius: 10px;
}

.video-playlist-item {

	/*margin-bottom: 10px;*/
}

.video-player-container {
	position: sticky !important;
	top: 0 !important;
}

.video-library-page {
	height: 100vh;
}

#loading-icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 999999;
}
.padding-null {
	padding: 0px;
}